
<div fxLayout="row" fxLayoutWrap="wrap" >
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card >
            <mat-card-content >
                <mat-card-title>APPLICATION FOR LEAVE</mat-card-title>
        <mat-horizontal-stepper [linear]="isLinear">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>First step</ng-template>
              <div class="p-10">
                <div >
                  <mat-label>1. OFFICE/DEPARTMENT MSU-LNAC</mat-label>
                  <mat-form-field>
                    <input matInput placeholder="" formControlName="firstCtrl" required>
                  </mat-form-field>
                </div>
                <mat-label>2. NAME:</mat-label>
                <div>
                  <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
                      <mat-form-field appearance="outline">
                        <mat-label>Last name:</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
                      <mat-form-field appearance="outline">
                        <mat-label>First name:</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
                      <mat-form-field appearance="outline">
                        <mat-label>Middle name:</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                </div>
                <div>
                  <mat-label>3. DATE OF FILLING</mat-label>
                  <mat-form-field>
                    <input matInput placeholder="" formControlName="firstCtrl" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-label>4. POSITION</mat-label>
                  <mat-form-field>
                    <input matInput placeholder="" formControlName="firstCtrl" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-label>5. SALARY</mat-label>
                  <mat-form-field>
                    <input matInput placeholder="" formControlName="firstCtrl" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="align-right">
                <button 
                mat-raised-button
                matStepperNext
                class="button-layout button-style">
                Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Second step</ng-template>
              <div style="text-align:center;">
                <mat-label>6. OFFICE/DEPARTMENT MSU-LNAC</mat-label>
                <br><br>
                <div fxLayout="row" style="text-align:left;" >
                
                    <div fxFlex="100" class="p-10">
                      <mat-label>A. TYPE OF LEAVE TO BE AVAILED OF</mat-label><br><br>
                      <div  
                      *ngFor="let choice of choices1; 
                      let i=index"
                      [ngSwitch]="choice.type" 
                      fxLayout="column">
                          <label *ngSwitchCase="'checkbox'">
                            <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                            {{choice.description}}
                          </label>
                          <br *ngSwitchCase="'space'">
                          <mat-label *ngSwitchCase="'label'">{{choice.description}}</mat-label>
                          <mat-label *ngSwitchCase="'underline-label'"><u>TLB (Termianl Leave Benefits)</u></mat-label>
                          <input  *ngSwitchCase="'input'" class="input full-width" type="text">
                      </div>
                    </div>
                    <div fxFlex="100" class="p-10">
                      <mat-label>B. DETAILS OF LEAVE </mat-label><br><br>
                      <form action="">
                        <div 
                        class="col-md-2" 
                        fxLayout="column" 
                        fxLayoutAlign="center">
                              <i>In case of VAcation/Special Privelege Leave:</i>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Within the Philippines
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Abroad (Specify)
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                               <i>In case of Sick Leave:</i>
                                <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    In Hospital (Specify Illness)
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Out Patient (Specify Illness)
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                              <i>In case of Special Leave Benefits for Women:</i>
                               <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                  <i>(Specify Illnes)</i>
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                              <i>Incase of Study Leave:</i>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Completion of Master's Degree
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Bar/Board Examination Review
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                              <div>Other Purpose:</div>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Monetization of Leave Credits
                                </label>
                                <input class="input full-width m-l-10" type="text">
                              </div>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Terminal Leave
                                </label>
                              </div><br>
                              <mat-label>D COMMUTATION</mat-label>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Not Requested
                                </label>
                              </div>
                              <div 
                              fxFlex.gt-sm="40" 
                              fxFlex="100" 
                              fxLayout="row"
                              fxLayout.gt-sm="row"
                              fxLayout.gt-xs="column"
                              fxLayout.gt-md="row"
                              fxLayout.gt-lg="row"
                              fxLayout.lt-sm="column"
                              fxLayoutAlign="left"
                              class="full-width">
                                <label style="white-space: nowrap">
                                    <input type="checkbox" [value]="false" (change)="onCheckChange($event)">
                                    Requested
                                </label>
                              </div>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
              <br><br>
              <div class="align-right">
                <button 
                mat-raised-button 
                matStepperPrevious
                class="button-layout button-style">
                  Back</button>
                <button 
                mat-raised-button 
                matStepperNext
                class="button-layout button-style">
                Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <app-filled-form></app-filled-form>
            <div class="align-right">
              <button 
              mat-raised-button 
              matStepperPrevious
              class="button-layout button-style">
              Back</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>