mat-card{
  width: fit-content;
}

.dashboard-layout{
  height: 100vh;
}

.center-content{
  justify-content: center;
  text-align: center;
}

.left-content{
  text-align: left;
}

.border{
  border: 1px solid black;
  border-collapse:collapse ;
  margin: 0px;
}

.border-top{
  border-top: 1px solid black;
  border-collapse:collapse ;
}

.border-right{
  border-right: 1px solid black;
  border-collapse:collapse ;
}

.border-bottom{
  border-bottom: 1px solid black;
  border-collapse:collapse ;
}

.border-left{
  border-left: 1px solid black;
  border-collapse:collapse ;
}

.table-layout{
  width: 1000px;
}

.input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.width-100{    
  width: 100%;
}

.width-50{
  width: 50%;
}

.width-30{
  width: 30%;
}

.width-20{
  width: 20%;
}

.width-16{
  width:16.66%;
}

.width-10{
  width: 10%;
}

.p-1-10{
  padding-left: 10px;
}

.p-10{
  padding:10px;
}

.p-5{
  padding:5px;
}

::ng-deep .mat-vertical-stepper-header{
  pointer-events: none !important;
}

.input[name=input] {
  pointer-events: none;
}

.button-layout{
  margin-left: 10px;
  margin-right: 10px;
}

textarea {
  resize: none;
}

.responsive-table mat-header-cell,
mat-cell {
  text-align: center;
  justify-content: center;
}

.no-request{
  font-size: 20px;
  font-weight: 500;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  min-width: 500px;
}
