.center-content{
  justify-content: center;
  text-align: center;
}

.left-content{
  text-align: left;
}

.border{
  border: 1px solid black;
  border-collapse:collapse ;
}

.table-layout{
  width: 800px;
}