<mat-card>
  <mat-card-content>
   <div 
   fxLayout="100"  
   class="center-content">
    <table class="border table-layout">
      <tr class="border">
        <td>1. OFFICE/DEPARTMENT MSU-LNAC</td>
        <td>2. NAME</td>
        <td class="center-content">
          <tr>(Last)</tr>
          <tr>Atis</tr>
        </td>
        <td class="center-content">
          <tr>(First)</tr>
          <tr>Jessiel</tr>
        </td>
        <td class="center-content">
          <tr>(Middle)</tr>
          <tr>Malco</tr>
        </td>
      </tr>
      <tr class="border">
        <td>3. DATE OF FILING <u>December 04, 2022</u></td>
        <td>4. POSITION: <u>BS-IT FACULTY</u></td>
        <td>5. SALARY: <u>15,000</u></td>
      </tr>
      <tr>
        <td>6. DETAILS OF APPLICATION</td>
      </tr>
      <tr>
        <td>

        </td>
        <td>

        </td>
      </tr>
    </table>
   </div>
  </mat-card-content>
</mat-card>
