<mat-toolbar 
*ngIf="!isShowForm" 
color="primary" 
class="topbar telative"
style="position: sticky; top:0; z-index: 1000;">
  <div class="navbar-header"
  style="background-color: white; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right:5px; 
  border-radius: 5px;
  margin: 10px;" >
    <a class="navbar-brand" href="/dashboard">
      <span fxShow="false" fxShow.gt-xs>
        <img src="assets/images/leave-logo.png" class="light-logo" alt="homepage" style="height: 30px; width:190px">
      </span>
    </a>
  </div>
  <div [align]="'right'" style="width: 100vw; display: flex; justify-content: right; align-items: center;">
    <p style="font-size: medium;">{{userName}}</p>&nbsp;&nbsp;&nbsp;
    <app-header></app-header>
  </div>
</mat-toolbar>
<div 
class="dashboard-layout"
style="
  background-image:url(assets/images/background/dashboard-bg.jpg); 
  background-attachment: fixed;
  margin: 0px;
  height: 180vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  ">



  <!-- Admin accepts or decline application request approval  -->
  <div 
  *ngIf="adminRole"
  class="login-register-box" 
  style="margin-top: 5vh;"
  [align]="'center'">
    <mat-card  class="m-t-10">
      <mat-card-content>
        <!-- <app-filled-form  [formData]="formData"></app-filled-form> -->
        <div style="width:450px; height: 800px;">
          <div [align]="'center'">
            <h3> Leave Application Requests</h3>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Form Status -->
  <div 
  *ngIf="!adminRole && !isShowForm" 
  class="login-register-box"
  style="margin-top: 15vh;">
    <mat-card class="m-t-10">
      <mat-card-content>
        <div style="width:450px; height: 800px;">
          <div [align]="'center'">
            <h3> Leave Application Status</h3>
          </div>
          <mat-vertical-stepper [linear]="isLinear" #stepper selectedIndex="{{openStep}}">
            <mat-step>
                <ng-template matStepLabel>Request for Leave Application Form</ng-template><br>
                <div *ngIf="requestStatus == 'not-accepted'" [align]="'left'">
                    <mat-label>Your request is not accepted</mat-label><br><br>
                    <button 
                    mat-raised-button
                    type="button" 
                    color="primary"
                    (click)="resendRequest()">
                      Resend Request
                    </button>
                  </div>
                <div *ngIf="requestStatus == 'requesting'" [align]="'left'">
                  <form [formGroup]="requestForm" (ngSubmit)="sendReuqest()">
                    <mat-form-field appearance="fill">
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email">
                    </mat-form-field>
                    <button 
                    mat-raised-button
                    type="submit" 
                    color="primary">
                      Send Request
                    </button>
                  </form>
                </div>
                <div *ngIf="requestStatus == 'pending'" [align]="'left'">
                  <mat-label>Your request is pending, Please wait for approval</mat-label>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Fillup Leave Application Form</ng-template>
                <ng-template matStepLabel>Request Approval to sir Ma'am Redondo</ng-template><br>
              
                <div [align]="'left'">
                  <button mat-raised-button color="primary" (click)="formAction()">{{applicationFormAction}}</button>
                </div>
            </mat-step>
            <mat-step >
              <ng-template matStepLabel>Request Approval to sir Taha</ng-template><br>
              <div [align]="'left'">
                <button mat-raised-button color="primary" >Send Request</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Request Approval to sir Ma'am Redondo</ng-template><br>
              <div [align]="'left'">
                <button mat-raised-button color="primary" >Send Request</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Request Approval to Ma'am Indira</ng-template><br>
              <div [align]="'left'">
                <button mat-raised-button color="primary" >Send Request</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <div [align]="'left'">You are now done.</div>
              <br>
              <div [align]="'left'">
                <button 
                mat-raised-button
                color="primary" 
                (click)="showForm(true)">Show Form</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Filled-up application release -->
  <div 
  *ngIf="isShowForm" 
  class="login-register-box" 
  style="margin-top: 5vh;"
  [align]="'center'">
    <mat-card  class="m-t-10">
      <mat-card-content>
        <div style="width:1000px; height: 1600px; padding-left: 30px; padding-right: 30px;">
          <div [align]="'right'">
            <button 
            class="button-layout"
            mat-raised-button
            color="primary" 
            (click)="downloadAsPDF()">
              Download as PDF
            </button>
            <button 
            class="button-layout"
            mat-raised-button
            color="primary" 
            (click)="showForm(false)">
              Back
            </button>
          </div>
          <div 
          style="padding: 40px; padding-left: 10px; padding-right: 10px; font-size: 13px; "
          fxLayoutAlign="center center" 
          fxLayout="column"
          id="pdfTable" 
          #pdfTable> 
            <div fxLayout="row" style="height: 100px; width: 700px;" [align]="'center'">
              <div>
                <img src="assets/images/msu-logo.png" 
                width="100"
                height="100"/>
              </div>
              <div fxLayout="column" [align]="'center'" style="margin-left: 50px;">
                <div style="font-size: 20px;">Republic of the Philippines</div>
                <div style="font-size: 20px;">MASU-LANAO DEL NORTE AGRICULTURAL COLLEGE</div>
                <div style="font-size: 18px;">Ramain, Sultan Naga Dimaporo, Lanao del Norte</div>
                <h3><strong>APPLICATION FOR LEAVE</strong> </h3>
              </div>
            </div><br>
            <table class="border table-layout" style="width:500px;">
              <tbody>
                <!-- <form [formGroup]="leaveApplicationForm"> -->
                  <!-- {{formData.get("")}} -->
                    <tr class="border">
                      <td class="p-10" [align]="'center'">
                        <u>1. OFFICE/DEPARTMENT MSU-LNAC</u>
                      </td>
                      <td class="p-10" [align]="'center'">2. NAME: </td>
                      <td class="width-16 p-10" [align]="'center'">
                        <tr>(Last)</tr>
                        <tr>{{formData.get("lastName")}}</tr>
                      </td>
                      <td class="width-16 p-10" [align]="'center'">
                        <tr>(First)</tr>
                        <tr>{{formData.get("firstName")}}</tr>
                      </td>
                      <td class="width-16 p-10" [align]="'center'">
                        <tr>(Middle)</tr>
                        <tr>{{formData.get("middleName")}}</tr>
                      </td>
                    </tr>
                    <tr class="border">
                      <td class="p-10" colspan="1" [align]="'center'">
                        3. DATE OF FILING: 
                        <u>{{formData.get("dateOfFilling")}}</u>
                      </td>
                      <td class="p-10" colspan="2" [align]="'center'">
                        4. POSITION: 
                        <u>{{formData.get("position")}}</u>
                      </td>
                      <td class="p-10" colspan="2" [align]="'center'">
                        5. SALARY: 
                        <u>{{formData.get("salary")}}</u>
                      </td>
                    </tr>
                    <tr class="border">
                      <td class="p-10" colspan="5" [align]="'center'">6. DETAILS OF APPLICATION</td>
                    </tr>
                    <tr class="border width-50">
                      <td class="left-content border p-10" colspan="2">
                        <mat-label class="p-l-10">6. A. TYPE OF LEAVE TO BE AVAILED OF</mat-label>
                        <div 
                        class="left-content p-l-10"
                        *ngFor="let choice of choices1;
                        let i=index"
                        [ngSwitch]="choice.type">
                          <tr *ngSwitchCase="'checkbox'">
                            <label>
                              <mat-icon *ngIf="formData.get(choice.name)">check</mat-icon>
                              <input *ngIf="!formData.get(choice.name)" type="checkbox" disabled="disabled"> 
                              <!-- <input type="checkbox" disabled="disabled">  -->
                              {{choice.description}}
                            </label>
                          </tr>
                          <tr *ngSwitchCase="'space'">
                            <br>
                          </tr>
                          <tr *ngSwitchCase="'underline-label'">
                            <mat-label>{{choice.description}}</mat-label>
                          </tr>
                          <tr *ngSwitchCase="'label'">
                            <mat-label><u>{{choice.description}}</u></mat-label>
                          </tr>
                          <tr *ngSwitchCase="'input'">
                            <input class="input width-100" type="text">
                          </tr>
                        </div>
                      </td>
                      <td class="left-content border width-50 p-10" [align]="'start'" colspan="3">
                        <mat-label class=" p-l-10">6. B. DETAILS OF LEAVE </mat-label>
                        <div 
                        class=" p-l-10"
                        *ngFor="let choice of choices2;
                        let i=index"
                        [ngSwitch]="choice.type">
                        <tr *ngSwitchCase="'checkbox'">
                          <label>
                            <mat-icon *ngIf="formData.get(choice.name)">check</mat-icon>
                            <input *ngIf="!formData.get(choice.name)" type="checkbox" disabled="disabled"> 
                            <!-- <input type="checkbox" disabled="disabled">  -->
                            {{choice.description}}
                          </label>
                        </tr>
                        <tr *ngSwitchCase="'checkbox-input'">
                          <div 
                          fxFlex.gt-sm="40" 
                          fxFlex="100" 
                          fxLayout="row"
                          fxLayout.gt-sm="row"
                          fxLayout.gt-xs="column"
                          fxLayout.gt-md="row"
                          fxLayout.gt-lg="row"
                          fxLayout.lt-sm="column"
                          fxLayoutAlign="left"
                          class="width-100">
                            <label style="white-space: nowrap">
                              <mat-icon *ngIf="formData.get(choice.name)">check</mat-icon>
                              <input *ngIf="!formData.get(choice.name)" type="checkbox" disabled="disabled"> 
                                {{choice.description}}
                            </label>
                            <input 
                            class="input m-l-10" 
                            name="input" 
                            type="text" 
                            [value]="formData.get(choice.input)">
                          </div>
                          </tr>
                          <tr *ngSwitchCase="'italic-label-input'">
                            <div 
                            fxFlex.gt-sm="40" 
                            fxFlex="100" 
                            fxLayout="row"
                            fxLayout.gt-sm="row"
                            fxLayout.gt-xs="column"
                            fxLayout.gt-md="row"
                            fxLayout.gt-lg="row"
                            fxLayout.lt-sm="column"
                            fxLayoutAlign="left"
                            class="width-100">
                              <label style="white-space: nowrap">
                                <i>{{choice.description}}</i>
                              </label>
                              <input 
                              class="input m-l-10" 
                              name="input" 
                              type="text" 
                              [value]="formData.get(choice.input)">
                            </div>
                          </tr>
                          <tr *ngSwitchCase="'space'"> <br/> </tr>
                          <tr *ngSwitchCase="'label'">
                            <mat-label>{{choice.description}}</mat-label>
                          </tr>
                          <tr *ngSwitchCase="'italic-label'"> 
                            <i>{{choice.description}}</i>
                          </tr>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="left-content border p-10" colspan="2">
                        <div 
                        class="left-content p-l-10"
                        *ngFor="let choice of choices3;
                        let i=index"
                        [ngSwitch]="choice.type">
                          <tr *ngSwitchCase="'space'">
                            <br>
                          </tr>
                          <tr *ngSwitchCase="'underline-label'">
                            <mat-label><u>{{choice.description}}</u></mat-label>
                          </tr>
                          <tr *ngSwitchCase="'label'">
                            <mat-label>{{choice.description}}</mat-label>
                          </tr>
                          <tr *ngSwitchCase="'input'">
                            <input 
                            class="input width-100" 
                            type="text" 
                            disabled="disabled"
                            [value]="formData.get(choice.input)">
                          </tr>
                        </div>
                      </td>
                      <td class="left-content border width-50 p-10" colspan="3">
                        <div 
                        class=" p-l-10"
                        [align]="'start'"
                        *ngFor="let choice of choices4;
                        let i=index"
                        [ngSwitch]="choice.type">
                          <tr *ngSwitchCase="'checkbox'">
                            <label>
                              <mat-icon *ngIf="formData.get(choice.name)">check</mat-icon>
                              <input *ngIf="!formData.get(choice.name)" type="checkbox" disabled="disabled"> 
                              <!-- <input type="checkbox" disabled="disabled">  -->
                              {{choice.description}}
                            </label>
                          </tr>
                          <tr *ngSwitchCase="'label'">
                            <mat-label>{{choice.description}}</mat-label>
                          </tr>
                        </div>
                      <div [align]="'center'" >
                        <tr>
                          <img 
                          [src]="applicantSignature"
                          width="150px"
                          height="50px"/>
                        </tr>
                        <tr>
                          <td [align]="'center'" style="text-decoration:overline">
                            (Signature of Applicant)
                          </td>
                        </tr>
                      </div>
                      </td>
                    </tr>
                    <tr class="border">
                      <td class="p-10" colspan="5" [align]="'center'">7. DETAILS OF ACTION ON APPLICATION</td>
                    </tr>
                    <tr>
                      <td class="p-10 border" colspan="2">
                        <tr>
                          <td [align]="'left'"> 7. A. CERTIFICATION OF LEAVE CREDITS </td>
                        </tr>
                        <tr>
                          <td [align]="'center'" style="white-space: nowrap">
                            As of 
                            <input 
                            class="input" 
                            style="width: 300px;" 
                            type="text" 
                            disabled="disabled"> 
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table class="border m-10 m-l-10 m-r-10">
                              <tr>
                                <td class="border"></td>
                                <td class="border">Vacation Leave</td>
                                <td class="border">Sick Leave</td>
                              </tr>
                              <tr>
                                <td class="border">Total Earned Leave Application</td>
                                <td class="border"></td>
                                <td class="border"></td>
                              </tr>
                              <tr>
                                <td class="border">Balance</td>
                                <td class="border"></td>
                                <td class="border"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td [align]="'center'">
                            <img 
                            [src]="tahaSignature"
                            width="150px"
                            height="50px"/>
                          </td>
                        </tr>
                        <tr>
                          <td [align]="'center'"><u>TAHA M. MOHAMAD MPA CSP</u></td>
                        </tr>
                        <tr>
                          <td [align]="'center'">(Authorized Officer)</td>
                        </tr>
                      </td>
            
                      <td class="p-10 border" colspan="3">
                        <tr>
                          <td  [align]="'left'"> 7. B. RECOMENDATION</td>
                        </tr><br>
                        <tr>
                          <td [align]="'left'">
                            <label>
                              <input type="checkbox" disabled="disabled"> 
                              For Approval
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td [align]="'left'">
                            <label>
                              <input type="checkbox" disabled="disabled"> 
                              For disapproval due to
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <textarea style="width:300px; height: 80px;" disabled="disabled"></textarea>
                          </td><br>
                        </tr>
                        <div [align]="'center'">
                          <tr>
                            <td [align]="'center'">
                              <img 
                              [src]="redondoSignature"
                              width="150px"
                              height="50px"/>
                            </td>
                          </tr>
                          <tr>
                            <td><u>EUZA E. REDONDO PhD.</u></td>
                          </tr>
                          <tr>
                            <td>(Authorized Officer)</td>
                          </tr>
                        </div>
                      </td>
                      
                    </tr>
                    <tr >
                      <td [align]="'left'" class=" p-10" colspan="2">
                        <tr>APPROVED FOR:</tr>
                        <tr>
                          <td><input name="input" class="input" type="text"></td>
                          <td>days with pay</td>
                        </tr>
                        <tr>
                          <td><input name="input" class="input" type="text"></td>
                          <td>days without pay</td>
                        </tr>
                        <tr>
                          <td><input name="input" class="input" type="text"></td>
                          <td>others (specify)</td>
                        </tr>
                      </td>
                      <td [align]="'left'" class=" p-10" colspan="3">
                        <tr>DISAPPROVED DUE TO:</tr>
                        <tr>
                          <td><input name="input" class="input" type="text"></td>
                        </tr>
                        <tr>
                          <td><input name="input" class="input" type="text"></td>
                        </tr>
                        <tr>
                          <td><input name="input" class="input" type="text"></td>
                        </tr>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" [align]="'center'">
                        <tr>
                          <td [align]="'center'">
                            <img 
                            [src]="indiraSignature"
                            width="150px"
                            height="50px"/>
                          </td>
                        </tr>
                        <tr>
                          <td><u>DR. INDIRA B. DIMAPORO-TAWANTAWAN, Ai-Hadja</u></td>
                        </tr>
                        <tr>
                          <td>(Authorized Officer)</td>
                        </tr>
                      </td>
                    </tr>
                  <!-- </form> -->
              </tbody>
            </table>
           </div>
           <br> <br>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

