
<!-- <div fxLayout="row" fxLayoutWrap="wrap" style="background-image:url(assets/images/background/login-register.jpg);">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
<p>Something</p>